body {
  margin: 0;
  text-align: center;
  background-color: #fcf8e8;
}

h1 {
  margin-top: 0;
  margin: 0 auto 0 auto;
  font-size: 70px;
  font-family: 'Great Vibes', cursive;
  color: #111d5e;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  color: #c70039;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

hr {
  margin: 150px auto 150px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #086972;
  border-width: 10px;
  width: 6%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.vag {
  border-style: solid;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

p {
  font-family: 'Quintessential', cursive;
  font-weight: 300;
  font-size: 25px;
}

a {
  font-family: 'Ultra', serif;
  font-family: 'Berkshire Swash', cursive;
  text-decoration: none;
}

.me {
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
}

.top {
  padding-top: 200px;
}

.to {
  height: 400px;
  width: 400px;
  position: absolute;
  right: 50px;
  top: 50px;
}

.bo {
  height: 200px;
  width: 250px;
  position: absolute;
  left: 50px;
  bottom: 300px;
}
.bottom-container {
  margin-top: 100px;
}

.btn {
  color: rgb(216, 248, 230);
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
  padding: 15px;
  text-shadow: 4px 3px 5px rgba(30, 30, 30, 0.8);
  -webkit-border-radius: 23.432402739653718px;
  -moz-border-radius: 23.432402739653718px;
  border-radius: 23.432402739653718px;
  background: #c70039;
  background: -moz-linear-gradient(90deg, #c70039 30%, #900c3f 70%);
  background: -webkit-linear-gradient(90deg, #c70039 30%, #900c3f 70%);
  background: -o-linear-gradient(90deg, #c70039 30%, #900c3f 70%);
  background: -ms-linear-gradient(90deg, #c70039 30%, #900c3f 70%);
  background: linear-gradient(0deg, #c70039 30%, #900c3f 70%);
  -webkit-box-shadow: 0 5px 8px rgba(50, 50, 50, 0.54);
  -moz-box-shadow: 0 5px 8px rgba(50, 50, 50, 0.54);
  box-shadow: 0 5px 8px rgba(50, 50, 50, 0.54);
}
